__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.env.local
config/whitelist.yaml
config/admins.yaml
*.egg-info/
build/
dist/
.coverage
htmlcov/
.idea/
.vscode/
config/telegram_user.session
config/telegram_user.session-journal
